@using System.Collections
@using VideoLinks.Controllers
@using VideoLinks.Helpers
@using VideoLinks.Models

@{
    ViewBag.Title = "Home Page";

}

@*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>s*@
<div id="" ng-controller="HomeCtrl" ng-cloak>

    <div class="bar">
        <input type="text" ng-model="searchVids" placeholder="Search Titles">
        <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
        <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
    </div>


    <ul infinite-scroll="Library.nextPage()" infinite-scroll-distance="3" infinite-scroll-disabled='Library.busy' ng-show="layout == 'grid'" class="grid">
        <li ng-repeat="video in Library.videos =(Library.videos | filter:{Name:searchVids})">
            <a href="../Video/{{video.Id}}" target=" _blank"><img ng-src="data:image/png;base64,{{video.Image}}" /></a>
            <span>{{video.Name}}</span>
            <div>
                <span ng-repeat="genre in video.Genres" class="hListItem">{{genre.Name}}</span>
            </div>
        </li>
    </ul>


    <ul infinite-scroll="Library.nextPage()" infinite-scroll-distance="3" infinite-scroll-disabled='Library.busy' ng-show="layout == 'list'" class="list">
        <li ng-repeat="video in Library.videos | filter:{Name:searchVids}">
            <a href="../Video/{{video.Id}}" target="_blank">
                <img ng-src="data:image/png;base64,{{video.Image}}" />
            </a>

            <p>{{video.Name}}</p>
            <p style="font-weight:normal">{{video.Description}}</p>
            <p>
                <span ng-repeat="genre in video.Genres" class="hListItem">{{genre.Name}}</span>
            </p>
        </li>
    </ul>
    <div ng-hide="Library.videos.length" class="NoResults">No results found</div>
    <br class="clearfix" />
</div>
