@model VideoLinks.Models.Video
@{
    ViewBag.Title = "Watch -";
}

<div ng-controller="DetailsCtrl">

    <h2>{{data.Name}}</h2>

    <div class="video_details">
        <div>
            {{data.Description}}
        </div>
        <br />
        <table>
            <tbody>
                <tr ng-show="data.ReleaseDate">
                    <th> Released: </th>
                    <td> {{data.ReleaseDate | date: 'longDate'}} </td>
                </tr>
                <tr ng-show="data.Runtime">
                    <th> RunTime: </th>
                    <td> {{data.Runtime}} mins </td>
                </tr>
                <tr ng-show="data.Genres">
                    <th> Generes: </th>
                    <td>
                        <div>
                            <span ng-repeat="genre in data.Genres" class="hListItem">{{genre.Name}}</span>
                        </div>
                    </td>
                </tr>
                <tr ng-show="data.Actors">
                    <th> Actors: </th>
                    <td>
                        <div>
                            <span ng-repeat="actor in data.Actors" class="hListItem">{{actor.Name}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <br />
        <div class="video_details links">
            <a href="{{data.ImdbLink}}">IMDB</a> @*|
            <a href="{{data.TrailerLink}}">Trailer</a> |
            <a href="{{data.BuyLink}}">Buy</a> |*@
        </div>

    </div>

    <div class="video_pic">
        <img ng-src="data:image/png;base64,{{data.Image}}" />
    </div>

    <br class="clearfix" />

    <h2>{{data.Name}} Links</h2>
    <ul class="video_links">
        <li ng-repeat="link in data.Links">
            {{link.Quality}} - <a href="{{link.URL}}">Version {{$index + 1}}</a> -------->{{link.Host.Name}}
        </li>
    </ul>

</div>